@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: "Ubuntu", sans-serif;
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: SF PRO DISPLAY;
}

main {
    height: 100%;
    width: 100%;
    padding: 1px 3%;
    background: #070A0F;
    /* background-color: #ffff; */
    background-color: #070B10;
}





/* CTA section start */
.cta_container {
    height: 60vh;
    width: 100%;
    position: relative;
    cursor: none;
    transition: all 0.6s ease-out;
}

.cta_container:hover {
    transition: all 0.3s linear;
    transform: scale(0.95);
}

.cta_container>.cta_card {
    height: 100%;
    width: 100%;
    margin: 30px 0;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.200), rgba(255, 255, 255, 0.100));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: (10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(156, 153, 153, 0.37);
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: all 0.6s ease-out;
}

.cta_card>h2 {
    font-size: 35px;
    font-weight: 600;
    color: white;
    font-family: poppin;
    transform: translateZ(40px);
}

.cta_card>p {
    font-size: 18px;
    font-weight: 400;
    color: white;
    font-family: poppin;
    width: 50%;
    text-align: center;
    margin: 10px 0;
}

/* cta btn */
.cta_btn {
    margin: 12px;
    height: 50px;
    width: 120px;
    border-radius: 10px;
    background: #333;
    justify-content: center;
    align-items: center;
    box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444,
        inset -5px -5px 10px #222;
    font-family: "Damion", cursive;
    cursor: pointer;
    border: none;
    font-size: 16px;
    color: rgb(161, 161, 161);
    transition: 500ms;
}

.cta_btn:hover {
    box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222,
        inset -5px -5px 10px #444;
    color: #d6d6d6;
    transition: 500ms;
}

.cta_btn:hover {
    cursor: none;
}

/* tilt  */

/* custome cursor bg */
.cta_cussor_bg {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: rgb(144, 161, 255);
    z-index: 1;
    border-radius: 50%;
    left: 0;
    top: 0;
    transition: all 1s;
    opacity: 0;
    transform: translate(-50%, -50%);
}

.cta_container:hover .cta_cussor_bg {
    opacity: 1;
}

/* custome cursor */
.cta_cursor_dot {
    width: 5px;
    height: 5px;
    background: white;
}

.cta_cursor_outline {
    width: 30px;
    height: 30px;
    border: 2px solid #FFFFFF80;
}

.cta_cursor_dot,
.cta_cursor_outline {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10;
    pointer-events: none;
    opacity: 0;
}

.cta_container:hover .cta_cursor_dot,
.cta_container:hover .cta_cursor_outline {
    opacity: 1;
}

/* CTA section End */
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  position: relative;
  overflow: hidden;
}

#page1 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}
#page1 > video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#page1 > h1 {
  font-size: 4vw;
  color: #fff;
  font-weight: 400;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}
#page2 {
  position: relative;
  height: 100vh;
  width: 100vw;
}
#page2 > video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#page2 > h1 {
  font-size: 4vw;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  text-align: center;
  color: #fff;
  font-weight: 400;
}

#page3 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}
#page3 > img {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#page3-upper {
  height: 25%;
  width: 35%;
  position: absolute;
  z-index: 9;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}
#page3-upper > img {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
}
#page3-upper-inner {
  position: absolute;
  bottom: 0%;
  height: 60%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 80px;
  color: #ff823d;
}
#page3-upper-inner > h3 {
  font-weight: 500;
}
#page3 > button {
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 30px;
  border: 1px solid #000;
  font-weight: 500;
  background-color: #fff;
  border-radius: 50px;
  font-size: 1.4vw;
}

#page4 {
  position: relative;
  height: 100vh;
  width: 100vw;
}
#page4 > video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#center-page4 {
  height: 100vh;
  width: 100vw;
  /* border: 1px solid black; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 2vw;
  /* background-color: #00000070; */
  background-image: linear-gradient(#000000b8 0%,#00000030 90%,#ffffff00 100%);
}

#page5 {
    position: relative;
    height: 100vh;
    width: 100vw;
  }
  #page5 > video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  #center-page5 {
    height: 100%;
    width: 100%;
    /* border: 1px solid black; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 2vw;
    /* background-color: #00000070; */
    background-image: linear-gradient(#000000b8 0%,#00000048 80%,#ffffff00 100%);
  }
